/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700&subset=latin,cyrillic,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic,latin-ext);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.search-form__submit, .form__submit, .form-acty__submit, .form-acty__all-btn, .voting-form__button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.txt, .textarea {
  font: 16px/1.2 "Roboto Slab", serif;
  font-weight: 300;
  padding: 3px 7px;
  border: none;
  outline: none;
  width: 100%;
}

.txt::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
  color: #000;
}

.txt::-moz-placeholder, .textarea::-moz-placeholder {
  color: #000;
}

.txt:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  color: #000;
}

.txt::placeholder, .textarea::placeholder {
  color: #000;
}

.textarea {
  height: 138px;
  resize: none;
}

.search-form__submit, .social__link_twitter, .social__link_fb, .social__link_flickr, .contacts__link_phone:before, .contacts__link_email:before, .post-icons__link_twitter, .post-icons__link_fb, .post-icons__link_print, .post-icons__link_email, .form_icon:after, .company-wrap__table .location-ico {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
}

.search-form__submit {
  background-position: -78px -82px;
}

.social__link_twitter {
  background-position: 0px 0px;
}

.social__link_fb {
  background-position: -82px 0px;
}

.social__link_flickr {
  background-position: -41px 0px;
}

.contacts__link_phone:before {
  background-position: -139px -25px;
}

.contacts__link_email:before {
  background-position: -123px -25px;
}

.post-icons__link_twitter {
  background-position: -41px -42px;
}

.post-icons__link_fb {
  background-position: 0px -82px;
}

.post-icons__link_print {
  background-position: -39px -82px;
}

.post-icons__link_email {
  background-position: -80px -42px;
}

.form_icon:after {
  background-position: -123px 0px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 16px/1.2 "Roboto Slab", serif;
  font-weight: 300;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  min-width: 960px;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #20372a;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  min-height: 100%;
}

.width-wrap, .content-wrap, .site-header, .site-footer__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.width-wrap {
  padding-top: 20px;
}

.width-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 125px;
  padding-left: 125px;
  margin-bottom: 25px;
}

.container__news {
  float: none !important;
}

.content-wrap {
  margin-bottom: 25px;
}

.content-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.content-wrap__container {
  float: left;
  padding-right: 250px;
  padding-left: 190px;
  margin-bottom: 0;
}

.content-wrap__aside-left {
  float: left;
  width: 150px;
  margin: 30px 0 0 -100%;
}

.content-wrap__aside-right {
  float: left;
  width: 210px;
  margin: 35px 0 0 -210px;
}

.ttl {
  font: 25px/1.2 "Roboto", sans-serif;
  font-weight: 500;
  color: #7ab843;
}

.ttl__link {
  color: inherit;
}

.logo-top {
  display: block;
  width: 363px;
  height: 76px;
}

.logo-top__link {
  display: block;
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/logo-top.png) no-repeat;
}

.logo-scndr {
  display: block;
  width: 109px;
  height: 109px;
}

.logo-scndr__link {
  display: block;
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 50%;
  background: url(../images/logo-scndr.png) no-repeat;
  background-size: cover;
}

.languages {
  font: 16px/1 "Roboto", sans-serif;
  color: #20372a;
  text-transform: uppercase;
}

.languages__item {
  float: left;
  margin-left: 8px;
}

.languages__item:first-child {
  margin-left: 0;
}

.languages__item_active {
  color: #7ab843;
}

.languages__link {
  color: inherit;
}

.languages__link:hover {
  color: #7ab843;
}

.search-form {
  display: inline-block;
  position: relative;
}

.search-form__input {
  width: 178px;
  font-size: 11px;
  border: solid #89c059;
  border-width: 0 0 1px 0;
  outline: none;
  background-color: transparent;
}

.search-form__input::-webkit-input-placeholder {
  color: #7ab843;
}

.search-form__input::-moz-placeholder {
  color: #7ab843;
}

.search-form__input:-ms-input-placeholder {
  color: #7ab843;
}

.search-form__input::placeholder {
  color: #7ab843;
}

.search-form__submit {
  width: 24px;
  height: 32px;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0 0 0 -15px;
}

.contacts {
  font: 13px/1.2 "Roboto", sans-serif;
  font-weight: 300;
  color: #20372a;
}

.contacts__link {
  display: inline-block;
  color: inherit;
  position: relative;
}

.contacts__link_phone:before, .contacts__link_email:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  margin-top: -2px;
}

.contacts__link_phone:before {
  width: 5px;
  height: 10px;
}

.contacts__link_email:before {
  width: 13px;
  height: 10px;
}

.social {
  overflow: hidden;
}

.social__item {
  float: left;
  margin-left: 4px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__link {
  display: block;
  width: 38px;
  height: 39px;
  border-radius: 50%;
  text-indent: -9999px;
}

.site-header {
  padding-top: 14px;
  padding-bottom: 10px;
  margin-bottom: 8px;
  min-height: 386px;
  background: url(../images/top-bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.site-header__top {
  margin-bottom: 2px;
}

.site-header__top:after {
  content: "";
  display: block;
  clear: both;
}

.site-header__row {
  float: left;
}

.site-header__logo {
  float: left;
}

.site-header__logo-scndr {
  position: absolute;
  left: 23px;
  bottom: -33px;
}

.site-header__right {
  overflow: hidden;
}

.site-header__languages {
  float: left;
  margin: 60px 0 0 9.00901%;
}

.site-header__languages_show {
  display: none;
}

.site-header__search {
  float: left;
  margin: 49px 0 0 11.58301%;
}

.site-header__social {
  float: left;
  margin: 42px 0 0 5.40541%;
}

.site-header__contacts {
  float: right;
  text-align: right;
  margin: 45px 0 0;
}

.site-header__mob-menu-trigger {
  float: right;
  margin-top: 1px;
}

.site-nav {
  text-transform: uppercase;
}

.site-nav__top {
  font-size: 0;
  line-height: 0;
  text-justify: distribute;
  text-align: justify;
  padding: 0 2.19298%;
  margin-bottom: 7px;
  background: #7ab843;
  position: relative;
}

.site-nav__top-drop {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}

.site-nav__top:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.site-nav__top-item {
  display: inline-block;
  font: 12px/1 "Roboto Slab", serif;
}

.site-nav__top-item_drop:hover .site-nav__top-drop {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.site-nav__top-link {
  display: block;
  color: #fff;
  padding: 15px 0;
}

.site-nav__bottom {
  font-size: 0;
  line-height: 0;
  text-justify: distribute;
  text-align: justify;
  padding: 8px 2.19298%;
  background: #e1e7e7;
}

.site-nav__bottom:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.site-nav__bottom-item {
  display: inline-block;
  font: 12px/1 "Roboto Slab", serif;
}

.site-nav__bottom-link {
  color: #20372a;
}

.drop-list {
  padding: 12px 15px 8px;
  opacity: 0;
  background: #fff;
  visibility: hidden;
  transition: visibility 0s .3s, opacity .3s;
}

.drop-list:after {
  content: "";
  display: block;
  clear: both;
}

.drop-list__col {
  float: left;
  width: 210px;
  margin-left: 5px;
}

.drop-list__col:first-child {
  margin-left: 0;
}

.drop-list__inner-item {
  margin-bottom: 3px;
}

.drop-list__inner-link {
  display: block;
  background: #e4f1d9;
  padding: 3px 5px;
}

.drop-list__inner_lvl2 {
  padding-top: 3px;
}

.drop-list__inner_lvl2 .drop-list__inner-item {
  padding-right: 0;
  padding-left: 25px;
}

.drop-list__inner_lvl2 .drop-list__inner-link {
  background: none;
}

.categories-nav {
  font: 12px/1.2 "Roboto Slab", serif;
  font-weight: 400;
  color: #20372a;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.categories-nav__item_active .categories-nav__link {
  background: #e1e7e7;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.categories-nav__link {
  display: block;
  padding: 7px 5px;
}

.categories-nav__link:hover {
  text-decoration: none;
  background: #e1e7e7;
}

.news {
  float: right;
  width: 33.50877%;
}

.news__ttl {
  font: 22px/1.2 "Roboto", sans-serif;
  font-weight: 500;
  color: #7ab800;
  margin-bottom: 18px;
}

.container_margin {
  margin-bottom: 62px;
}

.container__news {
  float: none;
  width: auto;
  margin-bottom: 70px;
}

.container__news .news__ttl {
  margin-bottom: 10px;
}

.news-list {
  font: 16px/1.2 "Roboto Slab", serif;
  font-weight: 300;
  word-spacing: -1px;
}

.news-list_large .news-list__item {
  margin-bottom: 25px;
}

.news-list_large .news-list__date {
  font-family: "Roboto", sans-serif;
}

.news-list_large .news-list__text {
  display: block;
  text-align: justify;
  line-height: 24px;
}

.news-list__item {
  margin-bottom: 12px;
}

.news-list__date {
  display: block;
}

.news-list__img {
  margin-bottom: 15px;
}

.news-list__img-link {
  display: block;
}

.news-list__img img {
  width: 100%;
  vertical-align: top;
}

.categories {
  width: 64.21053%;
  float: left;
  padding-top: 3px;
}

.categories-list {
  margin: 0 0 -23px -10px;
  color: #20372a;
  text-align: center;
  font-size: 0;
}

.categories-list__link {
  display: block;
}

.categories-list__link:hover {
  text-decoration: none;
}

.categories-list__link:hover .categories-list__img-wrap img {
  opacity: 0.85;
}

.categories-list__item {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 0 0 60px 8px;
  font: 16px/1.2 "Roboto", sans-serif;
}

.categories-list__img-wrap {
  width: 125px;
  margin: 0 auto 7px;
  border-radius: 50%;
  overflow: hidden;
}

.categories-list__img-wrap img {
  width: 100%;
  vertical-align: top;
  transition: opacity .3s;
}

.categories-list__text {
  text-transform: uppercase;
}

.breadcrumbs {
  font: 16px/1 "Roboto", sans-serif;
  color: #20372a;
  text-transform: uppercase;
}

.breadcrumbs:after {
  content: "";
  display: block;
  clear: both;
}

.breadcrumbs__item {
  float: left;
  padding-left: 25px;
  margin-left: 17px;
  position: relative;
}

.breadcrumbs__item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs__item:first-child:before {
  content: none;
}

.breadcrumbs__item:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid #7ab843;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.uneven-letters {
  color: #7ab843;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
}

.uneven-letters__item {
  text-decoration: underline;
}

.uneven-letters__item_small {
  font-size: 11px;
  font-size: 10.58px;
}

.uneven-letters__item_middle {
  font-size: 14px;
  font-size: 14.1px;
  vertical-align: middle;
  margin-left: 4px;
}

.uneven-letters__item_large {
  font-size: 18px;
  font-size: 17.63px;
  vertical-align: middle;
  margin-left: 2px;
}

.top-line {
  margin-bottom: 9px;
}

.top-line:after {
  content: "";
  display: block;
  clear: both;
}

.top-line__breadcrumbs {
  float: left;
}

.top-line__uneven-letters {
  float: right;
  margin: -1px -10px 0px 0;
}

.ad-block {
  margin-bottom: 10px;
}

.ad-block__link {
  display: block;
}

.ad-block img {
  width: 100%;
  vertical-align: top;
}

.video-holder {
  width: 210px;
  height: 141px;
  margin-bottom: 23px;
}

.video-holder img {
  width: 100%;
  vertical-align: top;
}

.post {
  font: 16px/24px "Roboto Slab", serif;
  font-weight: 300;
  margin-bottom: 62px;
  text-align: justify;
}

.post .ttl {
  margin-bottom: 11px;
}

.post p {
  margin-bottom: 21px;
}

.post a {
  color: #7ab843;
  text-decoration: underline;
}

.post a:hover {
  text-decoration: none;
}

.post .link-wrap {
  margin-bottom: 21px;
}

.post__bottom {
  margin-top: 46px;
}

.post__bottom_margin-small {
  margin-top: 26px;
}

.post__img-wrap {
  margin-bottom: 10px;
}

.post__img-wrap img {
  width: 100%;
  vertical-align: top;
}

.post__gallery {
  font-size: 0;
  text-align: center;
  margin-left: -25px;
}

.post__gallery-item {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 0 0 20px 25px;
}

.post__gallery-item img {
  width: 100%;
  vertical-align: top;
}

.post__list {
  margin-bottom: 10px;
}

.post__list li {
  background: url("../images/bullet-01.png") no-repeat 3px 11px;
  margin: 0 0 12px 0;
  text-indent: 10px;
}

.post-icons {
  margin-top: 24px;
}

.post-icons:after {
  content: "";
  display: block;
  clear: both;
}

.post-icons__item {
  float: left;
  margin-left: 6px;
}

.post-icons__item:first-child {
  margin-left: 0;
}

.post-icons__link {
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 50%;
}

.ttl-meta-holder,
.post .ttl-meta-holder {
  margin-bottom: 26px;
}

.ttl-meta-holder__ttl,
.post .ttl-meta-holder__ttl {
  margin-bottom: 5px;
  text-align: justify;
}

.foto-gallery-wrap__post-icons {
  margin-top: 0;
  margin-bottom: 24px;
}

.foto-gallery {
  margin-left: -30px;
  font-size: 0;
  text-align: center;
}

.foto-gallery__item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 0 0 30px 30px;
}

.foto-gallery__item img {
  width: 100%;
  vertical-align: top;
}

.foto-gallery__link {
  display: block;
  position: relative;
}

.foto-gallery__text {
  font: 28px/1.2 "Roboto", sans-serif;
  color: #20372a;
  text-align: center;
  padding: 23px 10px 24px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.thumb-gallery__images {
  margin-bottom: 20px;
  position: relative;
}

.thumb-gallery__images-item {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .4s, opacity .4s;
}

.thumb-gallery__images-item.active {
  position: static;
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transition-delay: 0s;
}

.thumb-gallery__images-item img {
  width: 100%;
  vertical-align: top;
  margin-bottom: 12px;
}

.thumb-gallery__images-caption {
  font: 16px/1.2 "Roboto Slab", serif;
  font-weight: 400;
  color: #616161;
  text-align: right;
}

.thumb-gallery__thumbs {
  margin-left: -10px;
}

.thumb-gallery__thumbs:after {
  content: "";
  display: block;
  clear: both;
}

.thumb-gallery__thumbs-item {
  float: left;
  width: 90px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: opacity .3s;
  cursor: pointer;
}

.thumb-gallery__thumbs-item:hover {
  opacity: 0.6;
}

.thumb-gallery__thumbs-item.active {
  border: 4px solid #7ab843;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.thumb-gallery__thumbs-item.active:hover {
  opacity: 1;
}

.thumb-gallery__thumbs-item img {
  width: 100%;
  vertical-align: top;
}

.pagination-wrap {
  text-align: center;
}

.pagination {
  display: inline-block;
  vertical-align: top;
  font: 12px/1 "Roboto", sans-serif;
}

.pagination__item {
  float: left;
  margin-left: 3px;
}

.pagination__item:first-child {
  margin-left: 0;
}

.pagination__item_dots .pagination__link {
  min-width: auto;
  color: #7ab843;
  background: none;
  padding-top: 10px;
  margin-bottom: -10px;
}

.pagination__link {
  display: block;
  min-width: 21px;
  padding: 4px 0;
  color: #fff;
  background: #7ab843;
  border-radius: 50%;
  text-align: center;
}

.some-links {
  font: 16px/1.2 "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 48px;
}

.some-links__list {
  margin-bottom: 32px;
  text-transform: uppercase;
}

.some-links__item {
  margin-bottom: 5px;
}

.some-links__link {
  color: #7ab843;
}

.some-links__text {
  font: 300 14px/1.2 "Roboto Slab", serif;
  color: #000;
}

.table-wrap {
  margin: 24px -75px 24px;
}

.table-wrap_narrow {
  margin-right: 0;
  margin-left: 0;
}

.table-wrap table {
  width: 100%;
  text-align: center;
  font: 16px "Roboto Slab", serif;
  font-weight: 300;
  border-collapse: separate;
  border-spacing: 6px;
}

.table-wrap table.no-heading tr:first-child td {
  border-top: 2px solid #7ab843;
}

.table-wrap table.two-cols {
  text-align: left;
}

.table-wrap table.two-cols td {
  padding-left: 13.63636%;
}

.table-wrap table.two-cols td:first-child {
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

.table-wrap table tr:nth-child(2n) {
  background: #f8f8f8;
}

.table-wrap table tr:nth-child(2n) td {
  border: solid #dfe6e6;
  border-width: 1px 0 1px;
}

.table-wrap table th {
  border-bottom: 2px solid #7ab843;
  font-weight: 400;
}

.table-wrap table td {
  padding: 3px 25px 3px;
}

.table-wrap table td.text {
  text-align: left;
}

.table-wrap .docs-list li {
  margin-top: 4px;
}

.table-wrap .docs-list li:first-child {
  margin-top: 0;
}

.table-wrap .docs-list__ico {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 22px;
  font: 14px/32px "Roboto", sans-serif;
  font-weight: 300;
  text-indent: -2px;
  color: #fff;
  text-align: center;
  background: #7ab843;
  border-radius: 50%;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.table-wrap a {
  color: inherit;
}

.circles {
  font-size: 0;
  margin: 0 0 0 -67px;
  text-align: center;
}

.circles .circle-item {
  display: inline-block;
  vertical-align: top;
  width: 131px;
  height: 131px;
  margin: 0 0 47px 67px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #808285;
  border: 3px solid #7ab843;
  border-radius: 50%;
  text-decoration: none;
  transition: background .3s, color .3s;
}

.circles .circle-item:hover {
  text-decoration: none;
  background: #7ab843;
  color: #fff;
}

.circles .text {
  display: block;
  padding: 45px 0 0;
}

.articles-wrap {
  margin-bottom: 24px;
}

.articles-list {
  margin-bottom: 20px;
  text-align: justify;
}

.articles-list__item {
  overflow: hidden;
}

.articles-list__item:nth-child(even) .articles-list__text,
.articles-list__item:nth-child(even) .articles-list__img {
  background: none;
  border-color: #fff;
}

.articles-list__img {
  float: left;
  border: solid #dfe6e6;
  border-width: 1px 0;
  padding: 4px 5px;
  margin-right: 6px;
  background: #f8f8f8;
}

.articles-list__img img {
  width: 100%;
  vertical-align: top;
}

.articles-list__text {
  overflow: hidden;
  border: solid #dfe6e6;
  border-width: 1px 0;
  padding: 4px 5px;
  background: #f8f8f8;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  min-height: 100px;
}

.articles-list__text p {
  margin: 0;
}

.product-holder {
  overflow: hidden;
  padding: 20px 0;
}

.product-holder__thumb-gallery {
  float: left;
  width: 300px;
  margin-right: 30px;
}

.product-holder__thumb-gallery .thumb-gallery__thumbs-item {
  margin-left: 15px;
}

.product-holder__thumb-gallery .thumb-gallery__thumbs-item:first-child {
  margin-left: 0;
}

.product-holder__text {
  overflow: hidden;
  text-align: justify;
}

.product-holder__post-icons {
  clear: both;
}

.company-block__ttl {
  font: 26px/1.2 "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.company-wrap {
  margin-bottom: 30px;
}

.company-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.company-wrap_margin {
  margin-bottom: 200px;
}

.company-wrap__logo {
  float: left;
  margin: 0 -100% 20px 0;
}

.company-wrap__logo img {
  vertical-align: top;
  max-width: 100%;
  border: 1px solid #f0d013;
}

.company-wrap__table-wrap {
  float: left;
  width: 100%;
  padding-left: 181px;
  margin-bottom: 20px;
}

.company-wrap__table {
  width: 100%;
}

.company-wrap__table tr:nth-child(odd) {
  background: #f8f8f8;
  border: solid #dfe6e6;
  border-width: 1px 0 1px;
}

.company-wrap__table td {
  padding: 5px;
}

.company-wrap__table td:first-child {
  padding-left: 16px;
  width: 20%;
}

.company-wrap__table td:last-child {
  padding-left: 27px;
  border-left: 6px solid #fff;
}

.company-wrap__table a {
  color: #000;
}

.company-wrap__table .location-ico {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 37px;
  margin: -13px 0 -5px;
  text-indent: -9999px;
  overflow: hidden;
  background-position: 0px -42px;
}

.company-wrap__text {
  clear: both;
}

.filter-block {
  margin-bottom: 24px;
}

.filter-block__label {
  font: 15px/1 "Roboto Slab", serif;
  font-weight: 400;
  color: #7ab843;
  margin-right: 20px;
  vertical-align: bottom;
}

.filter-block__select-wrap {
  display: inline-block;
  vertical-align: bottom;
  width: 312px;
  margin-bottom: -3px;
}

.filter-block__top {
  margin-bottom: 20px;
}

.filter-block__top .fancy-select:after {
  content: "";
  height: 2px;
  background: #7ab843;
  position: absolute;
  bottom: 0;
  right: 30px;
  left: 0;
}

.filter-block__top .fancy-select .trigger:before {
  border-color: #7ab843;
}

.filter-block__top .fancy-select .trigger:after {
  border-top-color: #7ab843;
}

.filter-block__top .fancy-select .trigger.open:after {
  border-bottom-color: #7ab843;
}

.filter-block__top .fancy-select .options {
  right: 30px;
}

.filter-block__table-wrap table {
  text-align: left;
}

.filter-block__table-wrap table td {
  padding-right: 15px;
  padding-left: 15px;
}

.filter-block__table-wrap table .first {
  width: 28%;
}

.form {
  padding: 56px 35px 14px;
  background: #e1e7e7;
}

.form_has_title {
  padding-top: 10px;
}

.form_icon {
  position: relative;
}

.form_icon:before {
  content: "";
  width: 53px;
  height: 53px;
  background: #7ab843;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: -25px;
}

.form_icon:after {
  content: "";
  width: 32px;
  height: 22px;
  position: absolute;
  top: 4px;
  left: -15px;
}

.form__ttl {
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 36px;
}

.form__line {
  margin-bottom: 8px;
}

.form__line:after {
  content: "";
  display: block;
  clear: both;
}

.form__line-text {
  float: left;
}

.form__item {
  float: left;
  width: 31.81818%;
  margin-left: 2.27273%;
}

.form__item:first-child {
  margin-left: 0;
}

.form__item_span2 {
  width: 65.90909%;
  margin-left: 0;
}

.form__textarea {
  margin: 20px 0 16px;
}

.form__buttons-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.form__buttons-wrap .form__file-wrap {
  float: left;
}

.form__buttons-wrap .form__submit {
  float: right;
}

.form__file-wrap {
  display: inline-block;
}

.form__file-wrap_right {
  float: right;
}

.form__file {
  position: relative;
}

.form__file:hover .form__file-text {
  background: #94c767;
}

.form__file-text {
  display: inline-block;
  padding: 5px 11px 6px;
  font: 16px/1 "Roboto Slab", serif;
  font-weight: 300;
  min-width: 220px;
  background: #7ab843;
  color: #fff;
  transition: background .3s;
}

.form__file-input {
  max-width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.form__file-descr {
  font: 13px/1 "Roboto Slab", serif;
  font-weight: 300;
  padding-top: 7px;
}

.form__submit {
  min-width: 220px;
  padding: 5px 11px 6px;
  font: 16px/1 "Roboto Slab", serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background: #7ab843;
  transition: background .3s;
}

.form__submit:hover {
  background: #94c767;
}

.form__radio-wrap {
  margin-bottom: 32px;
}

.form__bottom-line .txt, .form__bottom-line .textarea {
  padding: 6px 7px 7px;
}

.form__bottom-line .txt:first-child, .form__bottom-line .textarea:first-child {
  width: 64px;
}

.form__bottom-line .txt:nth-child(2), .form__bottom-line .textarea:nth-child(2) {
  width: 170px;
  margin-left: 10px;
}

.form__bottom-line .form__submit {
  float: right;
  padding: 9px 11px 9px;
}

.form-acty-wrap {
  margin-bottom: 30px;
}

.form-acty-wrap__tll {
  display: block;
  font: 16px/1.2 "Roboto Slab", serif;
  font-weight: 400;
  color: #000;
  padding-bottom: 2px;
  margin-bottom: 4px;
  border-bottom: 2px solid #7ab843;
}

.form-acty {
  padding: 10px 35px 9px;
  margin-bottom: 4px;
  background: #e1e7e7;
}

.form-acty__row {
  margin-bottom: 12px;
}

.form-acty__row:after {
  content: "";
  display: block;
  clear: both;
}

.form-acty__label-wrap {
  float: left;
  width: 240px;
  padding: 3px 10px 4px 0;
  margin-right: -100%;
}

.form-acty__label {
  vertical-align: top;
  font: 16px/1 "Roboto Slab", serif;
  font-weight: 400;
  color: #000;
  position: relative;
}

.form-acty__item {
  float: left;
  width: 100%;
  padding-right: 235px;
  padding-left: 240px;
}

.form-acty__item_large {
  padding-right: 0;
}

.form-acty__item-inner {
  position: relative;
}

.form-acty__item-text {
  max-width: 65px;
  font-size: 14px;
  margin-left: 8px;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-acty__submit-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.form-acty__submit, .form-acty__all-btn {
  float: right;
  padding: 9px 5px;
  min-width: 130px;
  font: 16px/1 "Roboto Slab", serif;
  font-weight: 700;
  color: #fff;
  background: #7ab843;
  text-transform: uppercase;
  transition: background .3s;
}

.form-acty__submit:hover, .form-acty__all-btn:hover {
  background: #94c767;
}

.form-acty__all-btn {
  width: 100%;
  float: none;
}

.form-acty__date-item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.form-acty__date-item:first-child {
  margin-left: 0;
}

.form-acty__date {
  width: 100px;
  text-align: center;
  padding: 1px 3px 1px 5px;
  background: none;
  font: 16px/1 "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
  border: 1px solid #a8acac;
  vertical-align: middle;
}

.form-acty__date::-webkit-input-placeholder {
  color: #000;
}

.form-acty__date::-moz-placeholder {
  color: #000;
}

.form-acty__date:-ms-input-placeholder {
  color: #000;
}

.form-acty__date::placeholder {
  color: #000;
}

.form-acty__from, .form-acty__to {
  font: 16px/1 "Roboto Slab", serif;
  font-weight: 400;
  vertical-align: middle;
  margin-right: 5px;
}

.form-acty .ui-datepicker-trigger {
  vertical-align: middle;
  margin-left: 5px;
}

.theme-list {
  font: 16px/1.2 "Roboto Slab", serif;
  font-weight: 400;
  color: #231f20;
  text-transform: uppercase;
}

.theme-list__item {
  margin-bottom: 5px;
}

.theme-list__link {
  color: inherit;
  text-decoration: underline;
}

.theme-list__link:hover {
  text-decoration: none;
}

.custom-radio_form .custom-radio__label:before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: none;
}

.custom-radio_form .custom-radio__input:checked + .custom-radio__label:after {
  width: 12px;
  height: 12px;
  background: #708c8c;
  left: 4px;
}

.custom-radio__input {
  position: absolute;
  left: -9999px;
}

.custom-radio__input:checked + .custom-radio__label:after {
  width: 6px;
  height: 6px;
  background: #000;
  left: 3px;
}

.custom-radio__label {
  display: inline-block;
  padding-left: 27px;
  position: relative;
}

.custom-radio__label:before, .custom-radio__label:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.custom-radio__label:before {
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  left: 0;
}

.voting-form {
  font: 13px/1.2 "Roboto Slab", serif;
  font-weight: 300;
  margin-bottom: 23px;
}

.voting-form__ttl, .partners__ttl {
  display: block;
  margin-bottom: 4px;
  text-align: center;
  font: 15px/1.2 "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #7ab843;
}

.voting-form__question {
  display: block;
  margin-bottom: 8px;
}

.voting-form__row {
  margin-bottom: 6px;
}

.voting-form__row_buttons {
  margin-top: 8px;
  margin-bottom: 0;
  overflow: hidden;
}

.voting-form__button {
  float: left;
  min-width: 130px;
  padding: 4px 3px;
  margin-left: 10px;
  color: #fff;
  text-transform: uppercase;
  font: 12px/1 "Roboto Slab", serif;
  font-weight: 300;
  background: #7ab843;
}

.voting-form__button:first-child {
  margin-left: 0;
}

.voting-form__button_submit {
  min-width: 70px;
}

.partners {
  margin-bottom: 23px;
}

.partners__holder {
  overflow: hidden;
}

.partners__link {
  float: right;
}

.partners__link:first-child {
  float: left;
}

.partners img {
  width: 100%;
  vertical-align: top;
}

.site-footer {
  margin-top: 6px;
  background: #e1e7e7;
  position: relative;
}

.site-footer:before {
  content: "";
  height: 2px;
  background: #7ab843;
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
}

.site-footer__inner {
  padding-top: 8px;
  padding-bottom: 25px;
}

.site-footer__inner:after {
  content: "";
  display: block;
  clear: both;
}

.site-footer__col {
  float: left;
  width: 320px;
  margin-left: 12.80702%;
  font: 13px/23px "Roboto Slab", serif;
  color: #000;
}

.site-footer__col:first-child {
  margin-left: 0;
}

.site-footer__col-link {
  color: inherit;
}

.mob-menu-trigger {
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  overflow: hidden;
  border: 1px solid #7ab843;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: none;
}

.mob-menu-trigger__line {
  position: absolute;
  height: 2px;
  background: #7ab843;
  left: 4px;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mob-menu-trigger__line:before, .mob-menu-trigger__line:after {
  content: "";
  height: 2px;
  background: #7ab843;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.mob-menu-trigger__line:before {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

.mob-menu-trigger__line:after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.overlay {
  width: 0;
  height: 0;
  text-indent: -9999px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  will-change: opacity;
  transition: opacity .3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

.mob-menu-active {
  overflow: hidden;
}

.mob-menu-active .overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.mob-menu-active .site-nav {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox/fancybox_overlay.png");
  background: rgba(0, 0, 0, 0.6);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/

.ui-datepicker .ui-helper-hidden {
  display: none;
}

.ui-datepicker .ui-helper-hidden-accessible {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.ui-datepicker .ui-helper-reset {
  border: 0 none;
  font-size: 100%;
  line-height: 1.3;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  text-decoration: none;
}

.ui-datepicker .ui-helper-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.ui-datepicker .ui-helper-clearfix {
  display: inline-block;
}

* html .ui-helper-clearfix {
  height: 1%;
}

.ui-datepicker .ui-helper-clearfix {
  display: block;
}

.ui-datepicker .ui-helper-zfix {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ui-datepicker .ui-state-disabled {
  cursor: default !important;
}

.ui-datepicker .ui-icon {
  background-repeat: no-repeat;
  display: block !important;
  overflow: hidden;
  text-indent: -99999px;
}

.ui-datepicker .ui-widget-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ui-datepicker.ui-widget-content {
  background: #fff;
  border: 1px solid #dfe6e6;
  color: #5b6c63;
}

.ui-datepicker .ui-widget-content {
  background: #FCFDFD;
  border: 1px solid #A6C9E2;
  color: #222222;
}

.ui-datepicker.ui-widget-content a {
  color: #222222;
  display: block;
  height: 29px;
  width: 29px;
  line-height: 29px;
}

.ui-datepicker .ui-widget-content a {
  color: #222222;
}

.ui-datepicker .ui-widget-header {
  background: #dfe6e6;
  border: 1px solid #dfe6e6;
  color: #909595;
}

.ui-datepicker .ui-state-default, .ui-datepicker.ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default {
  color: #5b6c63;
}

.ui-datepicker .ui-state-active, .ui-datepicker.ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active {
  background: #c9e3b4;
  display: block;
  height: 29px;
  width: 29px;
  line-height: 29px;
  border-radius: 50%;
}

.ui-datepicker .ui-state-active a, .ui-datepicker .ui-state-active a:link, .ui-datepicker .ui-state-active a:visited {
  text-decoration: none;
}

.ui-datepicker .ui-widget *:active {
  outline: medium none;
}

.ui-datepicker .ui-state-highlight, .ui-datepicker.ui-widget-content .ui-state-highlight, .ui-datepicker .ui-widget-content .ui-state-highlight, .ui-datepicker .ui-widget-header .ui-state-highlight {
  background: #c9e3b4;
  border-radius: 50%;
}

.ui-datepicker .ui-state-highlight a, .ui-datepicker.ui-widget-content .ui-state-highlight a, .ui-datepicker .ui-widget-content .ui-state-highlight a, .ui-datepicker .ui-widget-header .ui-state-highlight a {
  color: #363636;
}

.ui-datepicker {
  display: none;
  width: 210px;
}

.ui-datepicker .ui-datepicker-header {
  padding: 0.2em 0;
  position: relative;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  height: 33px;
  position: absolute;
  top: 2px;
  width: 15px;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 2px;
  border: 0 !important;
}

.ui-datepicker .ui-datepicker-prev:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 7px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #79b843;
}

.ui-datepicker .ui-datepicker-next {
  right: 0;
}

.ui-datepicker .ui-datepicker-next:after {
  content: '';
  position: absolute;
  top: 25%;
  right: 7px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid #79b843;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.ui-datepicker .ui-datepicker-title {
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

.ui-datepicker table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
}

.ui-datepicker th {
  padding: 0;
  width: 29px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  border: solid #dfe6e6;
  border-width: 0 1px 0 0;
}

.ui-datepicker td {
  border: solid #dfe6e6;
  border-width: 1px 1px 0 0;
  padding: 0 !important;
  width: 29px;
  height: 29px;
  line-height: 29px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.ui-priority-secondary {
  color: #aeb1b1 !important;
}

.ui-datepicker-trigger {
  cursor: pointer;
}

.fancy-select {
  position: relative;
  font-weight: 300;
  font-size: 16px;
}

.fancy-select.disabled {
  opacity: 0.5;
}

.fancy-select .trigger {
  cursor: pointer;
  padding: 3px 30px 3px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color: #4B5468;
  background: #fff;
  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
  -moz-transition: all 240ms ease-out;
  -ms-transition: all 240ms ease-out;
  -o-transition: all 240ms ease-out;
}

.fancy-select .trigger:first-letter {
  text-transform: uppercase;
}

.fancy-select .trigger:before {
  content: "";
  width: 22px;
  height: 22px;
  border: 1px solid #818181;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fancy-select .trigger:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 10px solid #818181;
  position: absolute;
  top: 50%;
  right: 9px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fancy-select .trigger.open {
  background: #fff;
}

.fancy-select .trigger.open:after {
  border-top: none;
  border-bottom: 10px solid #818181;
}

.fancy-select .options {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  max-height: 200px;
  overflow: auto;
  border: 1px solid #7ab843;
  background: #fff;
  transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

.fancy-select .options.open {
  visibility: visible;
  opacity: 1;
  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
  transition: opacity 300ms ease-out, top 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

.fancy-select .options.overflowing {
  top: auto;
  bottom: 100%;
  transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

.fancy-select .options li {
  padding: 8px 12px;
  color: #2B8686;
  cursor: pointer;
  white-space: nowrap;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}

.fancy-select .options li:first-letter {
  text-transform: uppercase;
}

.fancy-select .options li:hover {
  color: #7ab843;
  font-weight: 400;
}

.fancy-select .options .selected {
  font-weight: 400;
  color: #fff;
  background: #94c767;
}

.fancy-select .options .selected:hover {
  color: #fff;
}

@media only screen and (max-width: 1160px){
  .width-wrap, .content-wrap, .site-header, .site-footer__inner{
    padding-right: 15px;
    padding-left: 15px;
  }
  .container{
    padding-right: 90px;
    padding-left: 90px;
  }
  .content-wrap__container{
    padding-right: 225px;
    padding-left: 165px;
  }
  .content-wrap__post-gallery .post__gallery-item{
    width: 33.333333%;
  }
  .logo-scndr{
    width: 80px;
    height: 80px;
  }
  .site-header__logo-scndr{
    left: 15px;
    bottom: -23px;
  }
  .site-header__right{
    width: 340px;
    float: right;
  }
  .site-header__languages_show{
    display: block;
    margin: 5px 0 0 106px;
  }
  .site-header__languages_hide{
    display: none;
  }
  .site-header__search{
    margin: 0 0 15px;
  }
  .site-header__social{
    margin: 0 0 15px 10px;
  }
  .site-header__contacts{
    float: left;
    margin: 0;
    text-align: left;
  }
  .site-nav{
    width: 300px;
    padding: 10px 5px 20px;
    background: #fff;
    border-left: 1px solid #7ab843;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    z-index: 16;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .site-nav__top{
    text-justify: none;
    text-align: left;
    padding: 0;
    background: none;
  }
  .site-nav__top-item{
    display: block;
    font-size: 14px;
    line-height: 1.2;
  }
  .site-nav__top-item_drop .site-nav__top-link{
    position: relative;
  }
  .site-nav__top-item_drop .site-nav__top-link:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid #7ab843;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: 12.5px;
    right: 10px;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .site-nav__top-item_drop.active{
    background: #f8f9f9;
  }
  .site-nav__top-item_drop.active .site-nav__top-drop{
    display: block;
  }
  .site-nav__top-item_drop.active .site-nav__top-link{
    color: #669a38;
  }
  .site-nav__top-item_drop.active .site-nav__top-link:after{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .site-nav__top-link{
    display: block;
    padding: 8px 25px 8px 5px;
    border-bottom: 1px solid #e1e7e7;
    color: #7ab843;
  }
  .site-nav__bottom{
    background: none;
    padding: 5px 0 0;
  }
  .site-nav__bottom-item{
    display: block;
    font-size: 13px;
    line-height: 1.2;
  }
  .site-nav__bottom-link{
    display: block;
    padding: 8px 10px 8px 5px;
    color: #657e7e;
    border-bottom: 1px solid #c9e3b1;
  }
  .drop-list{
    padding: 5px 0 6px;
    background: none;
    visibility: visible;
    opacity: 1;
    position: static;
    display: none;
  }
  .drop-list__col{
    float: none;
    width: auto;
  }
  .categories-list{
    margin-bottom: 0;
  }
  .categories-list__item{
    margin-bottom: 30px;
  }
  .post__gallery-item{
    width: 25%;
  }
  .circles{
    margin-left: -40px;
  }
  .circles .circle-item{
    margin: 0 0 30px 40px;
  }
  .form-acty__item{
    padding-right: 65px;
  }
  .form-acty__item_large{
    padding-right: 0;
  }
  .site-footer__col{
    margin-left: 6.14035%;
  }
  .mob-menu-trigger{
    display: block;
  }
}

@media only screen and (max-width: 960px){
  .circles{
    margin-left: -25px;
  }
  .circles .circle-item{
    margin-bottom: 20px;
    margin-left: 25px;
  }
  .company-wrap__logo{
    float: none;
    margin-right: 0;
    text-align: center;
  }
  .company-wrap__table-wrap{
    float: none;
    padding-left: 0;
  }
  .form-acty__date-item{
    display: block;
    margin-left: 0;
    margin-bottom: 6px;
  }
  .form-acty__from, .form-acty__to{
    display: inline-block;
    width: 50px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{
    background-image: url("../images/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;/*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div{
    background-image: url("../images/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;/*The size of the normal image, half the size of the hi-res image*/
  }
}

/*# sourceMappingURL=maps/screen.css.map */
