// FONTS
$rb-s: 'Roboto Slab', serif;
$rb: 'Roboto', sans-serif;


// COLORS
$dark-green: #20372a; //link color
$green: #7ab843; // main green color
$gray: #e1e7e7; // sub-nav, form bg

// WRAPPER
$wrap: 1200px;
$wrap-inner: 1140px; // 1200 - 30*2paddings

// BREAKPOINTS
$tablets: 1160px;
$small-tablets: 960px;